rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function signedIn() {
      return request.auth != null;
    }

    function userCompanyId() {
      return firestore.get(/databases/(default)/documents/users/$(request.auth.uid)).data.companyId;
    }

    match /companies/{companyId}/{allPaths=**} {
      allow read, write: if signedIn() && userCompanyId() == companyId;
    }
  }
}
